PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/mma-estore-db
JWT_SECRET=LzfZrWggcskK8DbNyElsale0R1CHmUqOu765afvcyTN
NODE_ENV=development
JWT_SECRET=XjDZqMsLRPtTO0TGKk5ZheYgervsfYmULz972DNhFQz
JWT_EXPIRES_IN=7d