<header class="store-header">

    <div class="header-container">

        <button
            type="button"
            class="menu-button"
            aria-label="Open navigation menu"
            (click)="navigation.toggleDrawer()">

            <i class="bi bi-list"></i>

        </button>

        <a
            routerLink="/"
            class="logo">

            <img
                src="logos/logo.png"
                alt="MMA E-Store">

        </a>

        <app-search-bar></app-search-bar>

    </div>

</header>
