<label
    class="checkbox-wrapper"
    [class.disabled]="disabled">

    <input

        type="checkbox"

        [checked]="checked"

        [disabled]="disabled"

        (change)="toggle()">

    <span
        class="checkbox-box"
        [class.checked]="checked">

        @if(checked){

            <i class="bi bi-check-lg"></i>

        }

    </span>

    <span class="checkbox-content">

        @if(label()){

            <span class="checkbox-label">

                {{ label() }}

            </span>

        }

        @if(description()){

            <span class="checkbox-description">

                {{ description() }}

            </span>

        }

    </span>

</label>