.auth-layout{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    background:
        linear-gradient(
            180deg,
            #fafafa,
            #f3f3f3
        );

}

.auth-header{

    height:90px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-bottom:1px solid var(--color-border);

    background:white;

}

.brand img{

    height:54px;

}

.auth-main{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:60px 20px;

}

.auth-footer{

    border-top:1px solid var(--color-border);

    background:white;

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    color:var(--color-text-light);

    font-size:.9rem;

}

.links{

    display:flex;

    gap:20px;

}

.links a{

    color:inherit;

    text-decoration:none;

}

.links a:hover{

    color:var(--color-primary);

}