<div class="auth-layout">

    <header class="auth-header">

        <a
            routerLink="/"
            class="brand">

            <img
                src="logos/logo.png"
                alt="MMA Store">

        </a>

    </header>

    <main class="auth-main">

        <router-outlet />

    </main>

    <footer class="auth-footer">

        <div>

            © 2026 MMA Store

        </div>

        <div class="links">

            <a href="#">Privacy</a>

            <a href="#">Terms</a>

            <a href="#">Support</a>

        </div>

    </footer>

</div>