<div class="top-bar">

    <div class="container">

        <div class="left-links">

            <a routerLink="/gift-cards">

                Gift Cards

            </a>

        </div>

        <div class="right-links">

            <a routerLink="/find-order">

                Find Your Order

            </a>

            <a routerLink="/account">

                My Account

            </a>

            <a
                routerLink="/cart"
                class="cart-link">

                <i class="bi bi-cart3"></i>

                <span>

                    Cart

                </span>

            </a>

        </div>

    </div>

</div>