<div class="top-bar">

    <div class="top-bar__container">

        <!-- Left -->

        <div class="top-bar__left">

            <a
                routerLink="/register"
                class="signup-link">

                SIGN UP &amp; SAVE 10%

            </a>

        </div>

        <!-- Right -->

        <div class="top-bar__right">

            <a routerLink="/gift-cards">
                Gift Cards
            </a>

            <a routerLink="/orders">
                Find Your Order
            </a>

            <a routerLink="/help">
                Help
            </a>

            <a routerLink="/account">
                My Account
            </a>

            <a routerLink="/cart">

                <i class="bi bi-cart3"></i>

                Cart

            </a>

        </div>

    </div>

</div>