.announcement-bar{

    height:40px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:.88rem;

    font-weight:600;

    letter-spacing:.5px;

    text-transform:uppercase;

}

.announcement-content{

    display:flex;

    align-items:center;

    gap:10px;

}