@import '../login/login.css';

.form-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 600px) {
  .form-row-grid {
    grid-template-columns: 1fr;
  }
}
