<nav class="store-navbar">
    <div class="container">
        <ul class="nav-list">
            @for(category of categories; track category.title){
                <li>
                    <a
                        [routerLink]="category.link"
                        [queryParams]="category.queryParams || {}"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: false }">
                        {{ category.title }}
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>