<app-card shadow="sm" [hover]="true" [clickable]="true">
  <div card-image class="image-wrapper">
    @if (product().discountPercentage > 0) {
      <span class="sale-badge"> -{{ product().discountPercentage }}% </span>
    }

    <img
      [routerLink]="['/products', product()._id]"
      [src]="product().images?.[0]?.url"
      [alt]="product().name"
    />
  </div>

  <div class="content">
    <p class="brand">
      {{ product().brandID?.name }}
    </p>

    <h3 [routerLink]="['/products', product()._id]">
      {{ product().name }}
    </h3>

    <p class="category">
      {{ product().categoryID?.name }}
    </p>

    <div class="price">
      @if (product().oldPrice) {
        <span class="old-price"> ${{ product().oldPrice }} </span>
      }

      <span class="current-price"> ${{ product().price }} </span>
    </div>

    <app-button variant="primary" width="full" (clicked)="addToCart.emit(product())">
      Add to Cart
    </app-button>
  </div>
</app-card>
