@if (loading) {
  <p>Loading product...</p>
}

@if (!loading && product) {
  <div class="product-page">
    <div class="image-section">
      <img [src]="product.images[0]?.url" [alt]="product.name" />
    </div>

    <div class="info-section">
      <p class="brand">
        {{ product.brandID.name }}
      </p>

      <h1>
        {{ product.name }}
      </h1>

      <p class="category">
        {{ product.categoryID.name }}
      </p>

      <div class="price-section">
        @if (product.oldPrice) {
          <span class="old-price"> ${{ product.oldPrice }} </span>
        }

        <span class="price"> ${{ product.price }} </span>
      </div>

      <p class="description">
        {{ product.description }}
      </p>

      <div class="details">
        <p>
          <strong>Audience:</strong>
          {{ product.audience }}
        </p>

        <p>
          <strong>Stock:</strong>
          {{ product.inventory.totalStock }}
        </p>

        <p>
          <strong>Department:</strong>
          {{ product.departmentID.name }}
        </p>
      </div>

      @if (product.inventory.variants.length) {
        <div class="sizes">
          <h3>Select Size</h3>

          <div class="size-buttons">
            @for (size of product.inventory.variants; track size.size) {
              <button type="button" (click)="selectedSize = size.size">
                {{ size.size }}
              </button>
            }
          </div>
        </div>
      }

      <button class="add-cart-btn">Add To Cart</button>
    </div>
  </div>

  <section class="specifications">
    <h2>Specifications</h2>

    @for (spec of product.specifications; track spec.key) {
      <div class="spec-row">
        <strong>
          {{ spec.key }}
        </strong>

        <span>
          {{ spec.value }}
        </span>
      </div>
    }
  </section>

  @if (relatedProducts.length > 0) {
    <section class="related-products">
      <h2>Related Products</h2>

      <div class="products-grid">
        @for (relatedProduct of relatedProducts; track relatedProduct._id) {
          <app-product-card [product]="relatedProduct" (addToCart)="onAddToCart($event)">
          </app-product-card>
        }
      </div>
    </section>
  }
}
